.header {
  height: 60px;
  flex: 0 1 auto;
}

h1 {
  position: absolute;
  left: 20px;
}

.add-product-btn {
  position: absolute;
  right: 170px;
  top: 40px;
}
.delete-product-btn {
  position: absolute;
  right: 35px;
  top: 40px;
}

.line {
  position: relative;
  top: 100%;
  width: 95%;
  height: 1;
}
