.subscribe-box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  min-height: 440px;
  min-width: 365px;
}

@media only screen and (min-width: 768px) {
  .subscribe-box-wrapper {
    display: flex;
    height: 100vh;
  }

  .subscribe-box {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
    width: 680px;
    min-height: 800px;
  }

  .desktop-image {
    flex: auto;
    height: 100%;
    background-image: url("./Images/image_summer-desktop.png");
    background-repeat: no-repeat;
  }
}
